html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-block: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: none;

}

canvas {
  display: block;
  border: 1px dashed grey;

}

.crouchbutton {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-image: url('./trex/crouchimgbutton.png');
  background-color: #9ea7a7;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  /*0.4s*/
  transition-duration: 0.0s;
  /*0.4s*/
  outline: none;
}

.largebuttonC {
  width: 360px;
  height: 70px;
  border-radius: 35px;
  border-width: 1.5px;
  border-color: #000000;
  background-image: url('./Colorido.png');
  background-color: #ffffff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  transition-duration: 0.0s;
  outline: none;
}

.largebuttonN {
  width: 360px;
  height: 70px;
  border-radius: 35px;
  border-width: 1.5px;
  border-color: #000000;
  background-image: url('./normal.png');
  background-color: #ffffff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  transition-duration: 0.0s;
  outline: none;
}

.squarebuttonIR {
  width: 150px;
  height: 150px;
  border-radius: 35px;
  border-width: 1.5px;
  border-color: #000000;
  background-image: url('./trex/trex_idle\(eye\ fixed\).png');
  background-color: #ffffff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  transition-duration: 0.0s;
  outline: none;
}

.squarebuttonIF {
  width: 150px;
  height: 150px;
  border-radius: 35px;
  border-width: 1.5px;
  border-color: #000000;
  background-image: url('./inimigos-obstaculos/birds/bird1-left.png');
  background-color: #ffffff;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  transition-duration: 0.0s;
  outline: none;
}

.BestHighscoresButton {
  background-image: url('./imagens-de-pontuacao/highscore.png');
  border-width: 1.5px;
  border-color: #000000;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.TrashButton {
  background-image: url('./trash.png');
  border-width: 1.5px;
  border-color: #000000;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.reloadButton {
  border-radius: 5%;
  border-width: 1.5px;
  border-color: #000000;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  transition-duration: 0.0s;
  color: red;
  background-color: #000000;
}

.crouchbuttonBackground {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #9ea7a7;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: inline-block;
  cursor: auto;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  /*0.4s*/
  transition-duration: 0.0s;
  /*0.4s*/
  outline: none;
}

.crouchbuttonBackgroundIMG {
  width: 50px;
  height: 50px;
  border-radius: 35px;
  background-color: #9ea7a7;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: inline-block;
  cursor: auto;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  /*0.4s*/
  transition-duration: 0.0s;
  /*0.4s*/
  outline: none;
  border-color: #000000;
  outline-color: #000000;
}

.crouchbuttongreentrex {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-image: url('./trex/greencrouchimgbutton.png');
  background-color: #9ea7a7;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  /*0.4s*/
  transition-duration: 0.0s;
  /*0.4s*/
  outline: none;
}

.crouchbuttonbrowntrex {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-image: url('./trex/browncrouchimgbutton.png');
  background-color: #9ea7a7;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  /*0.4s*/
  transition-duration: 0.0s;
  /*0.4s*/
  outline: none;
}

.multiplayerToggle {
  width: 360px;
  height: 70px;
  border-radius: 25px;
  border-width: 1.5px;
  border-color: #000000;
  background-image: url('./multiplayer2.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  transition-duration: 0.0s;
  outline: none;
}

.nameInput {
  width: 338px;
  height: 20px;
  border-radius: 13px;
  border-width: 1.5px;
  font-size: 30px;
  color: #ABC201;
  border-color: lavender;
  /*#AB4920*/
  background: #AB4920;
  /*lavender*/
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: inline-block;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  transition-duration: 0.0s;
  outline: none;
}

.backButton {
  border-radius: 5px;
  border-width: 1.5px;
  border-color: #000000;
  background-image: url('./backDoorImgNoBGReallySmall.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.0s;
  /* Safari */
  transition-duration: 0.0s;
  outline: none;
}
